.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;
    }

.box {
	overflow: hidden;
	color: white;
    padding: 1.5rem;

}

.box1 {
	max-height: 1rem
	flex-grow: 1;
	background-color: #03fc52;
	font-size: 150%;
    
}

.box2 {
	max-height: 2rem
	flex-grow: 2;
	background-color: #03befc;
	font-size: 250%;
    
}

.box3 {
	max-height: 3rem
	flex-grow: 3;
	background-color: #393763;
	font-size: 350%;
    
}

.box4 {
	max-height: 2rem
	flex-grow: 2;
	background-color: #6c06cc;
	font-size: 250%;
   
}


.box5 {
	max-height: 1rem
	flex-grow: 1;
	background-color: #f28b0c;
	font-size: 150%;
    
}